.color-picker {
  margin-bottom: 20px;
}

.color-picker-container {
  display: flex;
  justify-content: space-between;
}

.color-picker-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin: 0 10px;
}

.app-container {
  display: grid;
  grid-template-columns: 7fr 10fr;
}